<ion-view view-title="Profile">
    <ion-nav-bar class="bar-positive"> </ion-nav-bar>
    <div class="profileTop">
        <div class="row">
            <div class="col item-avatar"> <img ng-src="./img/image7.jpg"> </div>
            <div class="col col-75">
                <div class="row">
                    <div class="col  col-90">
                        <div class="row">
                            <div class="col">72 posts</div>
                            <div class="col">256 followers</div>
                            <div class="col">512 following</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-top col-90">
                        <button class="button button-block button-stable"> Edit Profile </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card profile">
        <h3> Hari Pandey </h3> </div>
    <div class="button-bar profileBottom"> <a class="button">Following</a> <a class="button">You</a> </div>
    </ion-content>
</ion-view>