<ion-view view-title="Activity">
    <ion-nav-bar class="bar-positive"> </ion-nav-bar>
    <ion-content>
        <div class="button-bar"> <a class="button">Following</a> <a class="button">You</a> </div>
    </ion-content>
</ion-view>