<ion-view view-title="Instagram">
    <ion-nav-bar class="bar-positive">
        <ion-nav-buttons side="primary"> </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list card" ng-repeat="kard in kards">
            <div class="item item-avatar"> <img ng-src="{{kard.face}}">
                <h2>{{kard.name}}</h2> </div>
            <div class="item item-body"> <img class="full-image" ng-src="{{kard.img}}">
                <p> {{kard.caption}} </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#"> <i class="icon ion-ios-heart-outline"></i> 14 Likes </a>
                <a class="tab-item" href="#"> <i class="icon ion-chatbubble"></i> 4 Comment </a>
                <a class="tab-item" href="#"> <i class="icon ion-share"></i> Share </a>
            </div>
        </div>
    </ion-content>
</ion-view>