<ion-view view-title="Search">
    <ion-nav-bar class="bar-positive"> </ion-nav-bar>
    <ion-content>
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper"> <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Search"> </label>
            <button class="button button-clear"> Cancel </button>
        </div>
        <div ng-controller="SearchCtrl" ng-init="loadImages()">
            <div class="row" ng-repeat="image in images" ng-if="$index % 4 === 0">
                <div class="col col-50" ng-if="$index < images.length"> <img ng-src="{{images[$index].src}}" width="100%" /> </div>
                <div class="col col-50" ng-if="$index + 1 < images.length"> <img ng-src="{{images[$index + 1].src}}" width="100%" /> </div>
            </div>
    </ion-content>
</ion-view>