<ion-view title="Uploads" ng-init="">
    <ion-nav-bar class="bar-positive"> </ion-nav-bar>
    <ion-content>
        <div ng-controller="UploadCtrl">
            <div class="list card">
                <div class="item item-image"> <img ng-src="./img/image2.jpg" height="200px"> </div>
                <label class="item item-input item-floating-label">
                    <input type="text" placeholder="Write Something"> </label>
                <button class="button button-block button-positive"> Post </button>
                <br>
                <br> </div>
    </ion-content>
    <ion-footer-bar class="bar-positive">
        <div class="button-bar"> <a class="button" ng-click="getImageGallery()">Gallery</a> <a class="button" ng-click="getImageCamera()">Camera</a> </div>
        </div>
    </ion-footer-bar>
</ion-view>