<ion-tabs class="tabs-icon-top tabs-color-active-positive">


 
  
    <ion-tab title="Home" icon-off="ion-home" icon-on="ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
  
      <ion-tab title="Search" icon-off="ion-android-search" icon-on="ion-android-search" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Upload" icon-off="ion-android-camera" icon-on="ion-android-camera" href="#/tab/upload" >
    <ion-nav-view name="tab-upload"></ion-nav-view>
  </ion-tab>
  
    <ion-tab title="Activity" icon-off="ion-android-favorite" icon-on="ion-android-favorite" href="#/tab/activity">
    <ion-nav-view name="tab-activity"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Profile" icon-off="ion-android-person" icon-on="ion-android-person" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

</ion-tabs>