/* Empty. Add your own CSS if you like */
.barHome {
	text-align: right !important;
	background-color: blue !important;
}

.profileTop {
	position: relative;
	top: 40px;
	width: 100%;
	height: 100px;
}



.profileBottom {
	position: relative;
	top: 50px;
}

.profile {
	position: relative;
	top: 70px;
	height: 60px;
}
